# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment folders
.env/
.venv/

# Ignore IDE configurations
.vscode/
.idea/

# Ignore operating system-specific files
.DS_Store   # macOS
Thumbs.db   # Windows